                body {
                    background-color: #000000;
                }
                
                .container {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    flex-direction: row;
                }
                
                .intro {
                    width: 573px;
                    height: 84px;
                    font-family: 'Jacques Francois';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 84px;
                    color: #FFFFFF;
                }
                
                .item {
                    width: 292px;
                    height: 329px;
                    margin: 12px;
                    left: 62px;
                    top: 286px;
                    border-radius: 48px;
                    align-items: center;
                    transition: all .2s ease-in-out;
                }
                
                .item1 {
                    background-color: #48C91B;
                    border-radius: 48px;
                    width: 292px;
                    height: 329px;
                }
                
                .item2 {
                    background-color: #00C1DB;
                    border-radius: 48px;
                    width: 292px;
                    height: 329px;
                }
                
                .item3 {
                    background-color: #9F0FE2;
                    border-radius: 48px;
                    width: 292px;
                    height: 329px;
                }
                
                .item4 {
                    background-color: #C3C703;
                    border-radius: 48px;
                    width: 292px;
                    height: 329px;
                }
                
                img {
                    width: 153px;
                    height: 147px;
                    margin-left: 70px;
                    margin-top: 51px;
                    text-align: center;
                    border-radius: 48px;
                }
                
                .school {
                    width: 346px;
                    height: 128px;
                    font-family: 'Jacques Francois';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 63px;
                    color: #FFFFFF;
                    margin-left: 50px;
                }
                
                .graduation {
                    width: 258px;
                    height: 63px;
                    margin-left: 35px;
                    font-family: 'Jacques Francois';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 63px;
                    color: #FFFFFF;
                }
                
                .skills {
                    width: 260px;
                    height: 126px;
                    margin-left: 30px;
                    margin-top: -15px;
                    font-family: 'Jacques Francois';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 63px;
                    color: #FFFFFF;
                }
                
                .family {
                    width: 155px;
                    height: 63px;
                    margin-left: 75px;
                    font-family: 'Jacques Francois';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 63px;
                    color: #FFFFFF;
                }
                
                .item:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
                
                .about p {
                    width: 294px;
                    height: 84px;
                    font-family: 'Jacques Francois';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 84px;
                    color: #C40F0F;
                    border: 1px solid #B83B3B;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                
                .my_image {
                    width: 200px;
                    height: 306px;
                    margin-left: 40px;
                    margin-top: -10px;
                    border-radius: 48px;
                    transition: .2s ease;
                }
                
                .my_image:hover {
                    transform: translateZ(10px);
                }
                
                .fcontent>div {
                    transition: var(--transform);
                }
                
                .content {
                    margin-top: 20px;
                    margin-left: 5%;
                    margin-right: 5%;
                    background-color: #232121;
                    border-radius: 48px;
                }
                
                .content p {
                    margin-left: 5px;
                    padding: 2%;
                    margin-top: 5px;
                    font-family: 'Itim';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 38px;
                    text-align: center;
                    color: #FFFFFF;
                }
                
                h1 {
                    font-family: 'Jacques Francois';
                    font-size: 64px;
                    font-weight: 400;
                    line-height: 84px;
                    color: #C40F0F;
                    border: 1px solid #B83B3B;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }